<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Le club des dys - Astuces</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
	

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link href="css/new-age.css" rel="stylesheet">

  </head>

  <body id="page-top">
	<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="index.html">Accueil</a>
            </li>
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="quoi.html">Qu'est ce que c'est ?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="qui.html">Qui est dys ?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="priseEnCharge.html">Prise en charge</a>
            </li>
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="astuces.html">Quelques astuces</a>
            </li>
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="liensUtiles.html">Liens utiles</a>
            </li>
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="quizz.html">Quizz</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    

	 <section class="download text-center" id="download">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2 class="section-heading">Quelques astuces ! </h2>
            <!--<p>Lorem ipsum dolor sit amet</p>-->
          </div>
        </div>
      </div>
    </section>
	
	
	<!--Livres-->
	
	
	<section class="contact bg-primary" id="contact">
      <div class="container">
        <h2>Pistes de lecture</h2>
      </div>
    </section>
	
	<section class="outils">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h4><i><u>L'enfant et l'oiseau</u></i>, de Katia WOLEK et Anne SORIN</h4>
					<img src="img\Livres\Lenfant_et_loiseau.jpg" alt="Première de couverture du livre L'enfant et l'oiseau">
					<p><b>Editeur :</b> De la Martinière jeunesse</br>
						<b>Collection :</b>Mots à l'endroit</br>
						<b>Age :</b> Dès 7 ans</br>
						<b>Résumé :</b> Dans la nuit du 31 décembre, un cruel seigneur et un gentil forgeron reçoivent en songes la visite d'un oiseau féerique. L'oiseau leur annonce qu'un jour leurs deux enfants se marieront. Quelques mois plus tard, un garçon, Inoké, voit le jour dans le foyer du pauvre forgeron et une fille, Amalia, naît à la cour. Le Seigneur fait tout pour séparer les deux enfants. Il tente de faire assassiner Inoké. Mais celui-ci a la vie sauve...<br/>
						</p>	
				</div>
				<div class="col-md-6">
					<h4><i><u>L'enfant qui n'aimait pas les livres</u></i>, de Martin Winckler et Stéphane SENEGAS</h4>
					<img src="img\Livres\Lenfant_qui_naimait_pas_les_livres.jpg" alt="Première de couverture du livre L'enfant qui n'aimait pas les livres">
					<p><b>Editeur :</b> De la Martinière jeunesse</br>
						<b>Collection :</b> Mots à l'endroit</br>
						<b>Age :</b> Dès 7 ans</br>
						<b>Résumé :</b> Jérôme n'aime pas les livres. Il préfère les petites voitures et les jeux de construction. Et il ne veut pas aller à l'école, car à l'école, on apprend à lire.
						Mais un jour, le grand-père de Jérôme lui présente le Grand Détective. Ce personnage mystérieux offre un cahier à Jérôme. Or, ce cahier contient un secret...<br/>
					</p>
				</div>
			</div>
			<hr/>
			<div class="row espace">
				<div class="col-md-6">
					<h4><i><u>Le fabuleux voyage de Valentin</u></i>, de Anne SORIN</h4>
					<img src="img\Livres\Le_fabuleux_voyage_de_Valentin.jpg" alt="Première de couverture du livre Le fabuleux voyage de Valentin">
					<p><b>Editeur :</b> De la Martinière jeunesse</br>
						<b>Collection :</b> Mots à l'endroit</br>
						<b>Age :</b> Dès 7 ans</br>
						<b>Résumé :</b>Ce sont les vacances. Il pleut. Valentin s'ennuie seul dans son phare. Un nuage passe et Valentin se met à rêver. Il s'endort. Quand il se réveille, l'aventure commence. Valentin va rencontrer un chat qui parle, un géant, le roi des poissons, des lutins...<br/>
					</p>	
				</div>
				<div class="col-md-6">
					<h4><i><u>La barbe bleue</u></i>, de Katia Wolek et Anne SORIN</h4>
					<img src="img\Livres\La_barbe_bleue.jpg" alt="Première de couverture du livre La barbe bleue">
					<p><b>Editeur :</b> De la Martinière jeunesse</br>
						<b>Collection :</b> Mots à l'endroit</br>
						<b>Age :</b> Dès 7 ans</br>
						<b>Résumé :</b>Dans les plaines de Mongolie, un seigneur à la barbe bleue terrorise tout un village. On raconte qu'aucune de ses épouses n'a jamais survécu plus de quelques jours. Pourtant, un vieil ivrogne vend successivement ses deux filles aînées au monstrueux seigneur... Echapperont-elles à la mort que le sort leur promet ?<br/>
					</p>
				</div>
			</div>
			<hr/>
			<div class="row espace">
				<div class="col-md-6">
					<h4><i><u>Mon père, chasseur de montres</u></i>, de Stéphane SENEGAS</h4>
					<img src="img\Livres\Mon_pere_chasseur_de_monstres.jpg" alt="Première de couverture du livre Mon père, chasseur de monstres">
					<p><b>Editeur :</b> De la Martinière jeunesse</br>
						<b>Collection :</b> Mots à l'endroit</br>
						<b>Age :</b> Dès 7 ans</br>
						<b>Résumé :</b>Néon Peurderien habite avec son père une maison aux fenêtres sans volets. Le soir, Néon a peur d'aller dormir : il y a des monstres dans sa chambre. Mais comment dire ça à son père quand on s'appelle " Peurderien " ? Pourtant, Néon le lui dira. Et son père va promettre de tout faire pour chasser les monstres...						
					</p>	
				</div>
			</div>
		</div>
	</section>


	
	
	
	<!--Outils numériques-->
	
	<section class="contact bg-primary" id="contact">
      <div class="container">
        <h2>Outils numériques</h2>
      </div>
    </section>
	
	<section class="outils">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2>Le ruban Word du Cartable Fantastique</h2>
					<h5>Il s'agit d'un ensemble d'outils pour le logiciel de traitement de textes WORD. Le ruban est téléchargeable sur le site du Cartable Fantastique</h5>
					<a class="info" href="https://www.cartablefantastique.fr/outils-pour-compenser/le-ruban-word/">
						Plus d'informations ici
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="imagesAstuces">
						<h5>Ruban de gestion des textes</h5>
						<img src="img\RubanWord\Texte.jpg" alt="Capture d'écran du ruban Word pour les textes">
						<h5>Ruban de gestion des opérations mathématiques</h5>
						<img src="img\RubanWord\Mathematiques.jpg" alt="Capture d'écran du ruban Word pour les mathématiques">
					</div>
				</div>
		    </div>
		</div>
	</section>
	<hr/>
	<section class="outils">
		<div class="container">
			<div class="row espace">
				<div class="col-lg-12">
					<h2>OpenDyslexic</h2>
					<h5>OpenDyslexic est une police d'écriture conçue pour les personnes Dyslexiques. Ce module permet de changer la police d'écriture sur les pages internet afin de simplifier leur lecture.</h5>
					<a class="info" href="https://opendyslexic.org/">
						Plus d'informations ici
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="imagesAstuces">
					<!--<h5>Voici comment apparaissent les lettres avec la police OpenDyslexic</h5>-->
					<img src="img\OpenDyslexique\opendyslexicglyphs.png" alt="Alphabet en OpenDyslexic">
				</div>
			</div>
		</div>
	</div>
	</section>
	
	
	<hr/>
	<section class="outils">
		<div class="container">
			<div class="row espace">
				<div class="col-lg-12">
					<h2>Générateur de feuilles d'écriture</h2>
					<h5>Sur le site <a href="http://www.desmoulins.fr/index.php?pg=scripts!online!feuilles!form_feuille_methode_couleur">desmoulins.fr</a> se trouve un générateur de feuille en format pdf pour l'aide à l'écriture des personnes dyspraxiques. 
						Ces feuilles contiennent des lignes de couleurs pour guider les personnes dyspraxiques à écrire. On peut paramétrer la feuille pour qu'elle corresponde à nos besoins.</h5>
					<a class="info" href="http://www.desmoulins.fr/index.php?pg=scripts!online!feuilles!form_feuille_methode_couleur">
						Plus d'informations ici
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="imagesAstuces2">
						<h5>Paramétrage d'une feuille d'écriture</h5>
						<img src="img\FeuillesEcriture\parametres.PNG" alt="Capture d'écran de la page Internet de paramétrage de la feuille">
					</div>
				</div>
				<div class="col-lg-6">
					<div class="imagesAstuces2">
						<h5>Exemple de feuille d'écriture</h5>
						<img src="img\FeuillesEcriture\exemple.PNG" alt="Feuille avec des lignes de couleurs">
					</div>
				</div>
			</div>
		</div>
	</section>
	
	
    <section class="contact bg-primary" id="contact">
      <div class="container">
        <h2>Outils physiques</h2>
      </div>
    </section>
	
	
	<!--Outils physiques-->
	<section class="outils">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2>Le baton de colle bleue</h2>
					<h5>La couleur de cette colle te permet de savoir où tu en as mis pour être sûr qu'il y en a bien partout. <br/>
					     Lorsqu'elle sèche, cette colle devient transparente, donc pas de vilaine trace sur la feuille !</h5>
					<a class="info">
						>>> Tu peux trouver facilement dans les supermachés et sur Internet <<<
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="imagesAstucesColle">
						<!--<h5>Colle bleue</h5>-->
						<img src="img\colle-bleue.jpg" alt="Photo d'un baton de colle bleue">
					</div>
				</div>
			</div>
		</div>
	</section>
	<hr/>
	<section class="outils">
		<div class="container">
			<div class="row espace">
				<div class="col-lg-12">
					<h2>Le cahier aux lignes colorées</h2>
					<h5>Les interlignes de 7 millimètres et les lignes de couleurs peuvent t'aider à écrire proprement.<br/>
					    Ce cahier existe aussi avec des interlignes plus petits.</h5>
					<a class="info" href="https://www.dys-positif.fr/cahier-lignes-colorees-dyspraxie-dysgraphie/">
						Plus d'informations ici
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="imagesAstuces">
						<!--<h5>Cahier ligné avec 7 mm d'interligne</h5>-->
						<img src="img\cahier_ligne.jpg" alt="Photo d'un cahier">
					</div>
				</div>
			</div>
		</div>
	</section>
	<hr/>
	<section class="outils">
		<div class="container">
			<div class="row espace">
				<div class="col-lg-12">
					<h2>Les cahiers de vacances</h2>
					<h5>Conçus spécialement pour les élèves dys, ces cahiers te permettent de préparer la rentrée des classes en t'amusant.<br/>
						Il existe un cahier pour tous les niveaux : CP, CE1, CE2, CM1 et CM2.</h5>
					<a class="info" href="http://www.editions-hatier.fr/collection/mon-primaire-facile-dys">
						Plus d'informations ici
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="imagesAstuces">
						<!--<h5>Cahier ligné avec 7 mm d'interligne</h5>-->
						<img src="img\cahiers_vacances.JPG" alt="Photo des premières de couverture des cahiers de vacances.">
					</div>
				</div>
			</div>
		</div>
	</section>
	<hr/>
	
	
	<section class="outils">
		<div class="container">
			<div class="row espace">
				<div class="col-lg-12">
					<h2>Le compas facile</h2>
					<h5>Faire des cercles n'a jamais été aussi simple qu'avec ce compas !<br/>
					    Grâce à la règle intégrée, il te suffit de faire glisser ton stylo et le tour est joué.</h5>
					<a class="info" href="https://www.dys-positif.fr/compas-bullseye-dysgraphie-dyspraxie/">
						Plus d'informations ici
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="imagesAstuces">
						<!--<h5>Cahier ligné avec 7 mm d'interligne</h5>-->
						<img src="img\compas.jpg" alt="Photo du compas">
					</div>
				</div>
			</div>
		</div>
	</section>
	<hr/>	
	
	<section class="outils">
		<div class="container">
			<div class="row espace">
				<div class="col-lg-12">
					<h2>Les guide-doigts</h2>
					<h5>Les guide-doigts sont des petits objets qui se mettent autour des crayons et stylos.<br/>
					    Ils te permettent de placer tes doigts correctement pour pouvoir bien écrire.
						Il en existe plein de différents !</h5>
					<a class="info" href="http://www.sos-ecriture.fr/2012/08/comparatif-de-guide-doigts.html">
						Plus d'informations ici
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="imagesAstuces">
						<!--<h5>Cahier ligné avec 7 mm d'interligne</h5>-->
						<img src="img\guide_doigts.JPG" alt="Photo de guides-doigts">
					</div>
				</div>
			</div>
		</div>
	</section>
	
    <footer>
      <div class="container">
        <p>&copy; 2017 Start Bootstrap. All Rights Reserved.</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">Privacy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms</a>
          </li>
          <li class="list-inline-item">
            <a href="#">FAQ</a>
          </li>
        </ul>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/new-age.min.js"></script>

  </body>

</html>
