<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>New Age - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
	

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link href="css/new-age.css" rel="stylesheet">

  </head>

  <body id="page-top">
	<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="index.html">Accueil</a>
            </li>
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="quoi.html">Qu'est ce que c'est ?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="qui.html">Qui est dys ?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="priseEnCharge.html">Prise en charge</a>
            </li>
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="astuces.html">Quelques astuces</a>
            </li>
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="liensUtiles.html">Liens utiles</a>
            </li>
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="quizz.html">Quizz</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    

	 <section class="download text-center" id="download">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2 class="section-heading">Quelques astuces ! </h2>
            <!--<p>Lorem ipsum dolor sit amet</p>-->
          </div>
        </div>
      </div>
    </section>
	
	
	<section class="contact bg-primary" id="contact">
      <div class="container">
        <h1>Pistes de lecture</h1>
      </div>
    </section>
	
	<!--Livres-->
	
	<section class="contact bg-primary" id="contact">
      <div class="container">
        <h1>Outils numériques</h1>
      </div>
    </section>
	
	<!--Outils numériques-->
	<section class="chiffres">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2>Le ruban Word du Cartable Fantastique</h2>
					<h5>Il s'agit d'un ensemble d'outils pour le logiciel de traitement de textes WORD. Le ruban est téléchargeable sur le <a href="https://www.cartablefantastique.fr/">site du Cartable Fantastique</a> </h5>
					<a href="https://www.cartablefantastique.fr/outils-pour-compenser/le-ruban-word/">
						>>> Clique ici pour trouver le Ruban Word du Cartable Fantastique <<<
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="imagesAstuces">
						<h5>Ruban de gestion des textes</h5>
						<img src="img\RubanWord\Texte.jpg" alt="Capture d'écran du ruban Word pour les textes">
						<h5>Ruban de gestion des opérations mathématiques</h5>
						<img src="img\RubanWord\Mathematiques.jpg" alt="Capture d'écran du ruban Word pour les mathématiques">
					</div>
				</div>
		    </div>
		</div>
	</section>
	<section class="chiffres">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2>OpenDyslexic</h2>
					<h5>OpenDyslexic est une police d'écriture conçue pour les personnes Dyslexiques. Ce module permet de changer la police d'écriture sur les pages internet afin de simplifier leur lecture.</h5>
					<a href="https://opendyslexic.org/">
						>>> Clique ici pour trouver la police OpenDyslexic <<<
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="imagesAstuces">
					<h5>Voici comment apparaissent les lettres avec la police OpenDyslexic</h5>
					<img src="img\OpenDyslexique\opendyslexicglyphs.png" alt="Alphabet en OpenDyslexic">
				</div>
			</div>
		</div>
	</div>
	</section>
	<section class="chiffres">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2>Générateur de feuilles d'écriture</h2>
					<h5>Sur le site <a href="http://www.desmoulins.fr/index.php?pg=scripts!online!feuilles!form_feuille_methode_couleur">desmoulins.fr</a> se trouve un générateur de feuille en format pdf pour l'aide à l'écriture des personnes dyspraxiques. 
						Ces feuilles contiennent des lignes de couleurs pour guider les personnes dyspraxiques à écrire. On peut paramétrer la feuille pour qu'elle corresponde à nos besoins.</h5>
					<a href="http://www.desmoulins.fr/index.php?pg=scripts!online!feuilles!form_feuille_methode_couleur">
						>>> Clique ici pour trouver le générateur de feuilles d'écriture <<<
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="imagesAstuces">
					<h5>Paramétrage d'une feuille d'écriture</h5>
					<img src="img\FeuillesEcriture\parametres.PNG" alt="Capture d'écran de la page Internet de paramétrage de la feuille">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="imagesAstuces">
					<h5>Exemple de feuille d'écriture</h5>
					<img src="img\FeuillesEcriture\exemple.PNG" alt="Feuille avec des lignes de couleurs">
				</div>
			</div>
		</div>
	</section>
	
    <section class="contact bg-primary" id="contact">
      <div class="container">
        <h1>Outils physiques</h1>
      </div>
    </section>
	
	<!--Outils physiques-->
	
    <footer>
      <div class="container">
        <p>&copy; 2017 Start Bootstrap. All Rights Reserved.</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">Privacy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms</a>
          </li>
          <li class="list-inline-item">
            <a href="#">FAQ</a>
          </li>
        </ul>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/new-age.min.js"></script>

  </body>

</html>
