<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

	<title>Le club des dys - Quizz</title>
	
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link href="css/new-age.css" rel="stylesheet">

  </head>

  <body id="page-top">

    	
	<section>
			
		<div class="container text-center">
			<h1>Correction du quizz</h1>
		
		<br/>
			<img class="img-responsive center-block" src="img\ReponsesQuizz\Q1.JPG" alt="Réponse à question 1 : L'assistante de vie scolaire (AVS) aide l'enfant à réaliser toutes les tâches qui lui sont difficiles à l'école à cause de son handicap"/>
		<br/>
			<img class="img-responsive center-block" src="img\ReponsesQuizz\Q2.JPG" alt="Réponse à question 2 : La dyscalculie est un trouble de l'apprentissage du calcul et des chiffres"/>
		<br/>
			<img class="img-responsive center-block" src="img\ReponsesQuizz\Q3.JPG" alt="Réponse à question 3 : Un orthoptiste est un médecin qui s'occupe des mouvements des yeux"/>
		<br/>
			<img class="img-responsive center-block" src="img\ReponsesQuizz\Q4.JPG" alt="Réponse à question 4 : l'orthophoniste peut aider un enfant dyslexique"/>
		<br/>
			<img class="img-responsive center-block" src="img\ReponsesQuizz\Q5.JPG" alt="Réponse à question 5 : un orthophoniste est une personne qui aide à corriger des problèmes de communication"/>
		<br/>
			<img class="img-responsive center-block" src="img\ReponsesQuizz\Q6.JPG" alt="Réponse à question 6 : la dyspraxie est un trouble de la réalisation des mouvements"/>
		<br/>
			<img class="img-responsive center-block" src="img\ReponsesQuizz\Q7.JPG" alt="Réponse à question 7 : l'ANAPEDYS est l'Association Nationale des Parents d'Enfants DYS"/>
		<br/>
			<img class="img-responsive center-block" src="img\ReponsesQuizz\Q8.JPG" alt="Réponse à question 8 : la dysphasie est un trouble de l'apprentissage du langage oral"/>
		<br/>
			<img class="img-responsive center-block" src="img\ReponsesQuizz\Q9.JPG" alt="Réponse à question 9 : la dyslexie est un trouble de l'apprentissage de la lecture et de l'écriture"/>
		<br/>
			<img class="img-responsive center-block" src="img\ReponsesQuizz\Q10.JPG" alt="Réponse à question 10 : la dysorthographie est un trouble de l'apprentissage de l'orthographe"/>
		<br/>
			<img class="img-responsive center-block" src="img\ReponsesQuizz\Q11.JPG" alt="Réponse à question 11 : les objets qui aident à bien placer ses doigts sur un crayons s'appellent des guide-doigts"/>
		</div>
	</section>
	
    <footer id="footerBis">
      <div class="container">
        <p>&copy; 2017 Start Bootstrap. All Rights Reserved.</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">Privacy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms</a>
          </li>
          <li class="list-inline-item">
            <a href="#">FAQ</a>
          </li>
        </ul>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/new-age.min.js"></script>

  </body>

</html>
