<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>New Age - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
	

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link href="css/new-age.css" rel="stylesheet">

  </head>

  <body id="page-top">

    

    <section class="features" id="features">
      <div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-heading text-center">
				  <h2>Unlimited Features, Unlimited Fun</h2>
				  <p class="text-muted">Check out what you can do with this app theme!</p> 
				  <hr>
				</div>
			</div>
	    </div>
        <div class="row">
			<div class="col-lg-4">
                <div class="feature-item">
                    <i class="icon-screen-smartphone text-primary"></i>
                    <h3>Qu'est-ce que c'est ?</h3>
                    <p class="text-muted">Description des troubles "dys"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-item">
					<i class="icon-camera text-primary"></i>
					<h3>Qui est "dys" ?</h3>
					<p class="text-muted">Savez-tu que ces personnes célébres sont dys ?</p>
                </div>
            </div>
			<div class="col-lg-4">
                <div class="feature-item">
                    <i class="icon-lock-open text-primary"></i>
                    <h3>La prise en charge</h3>
                    <p class="text-muted">Qui aide les dys et comment ?</p>
				</div>
			</div>
        </div>	
        <div class="row">
			<div class="col-lg-4">
			  <div class="feature-item">
				<i class="icon-present text-primary"></i>
				<h3>Liens utiles</h3>
				<p class="text-muted">Associations, lectures, outils d'apprentissage</p>
			  </div>
			</div>
			<div class="col-lg-4">
				<div class="feature-item">
					<i class="icon-lock-open text-primary"></i>
					<h3>Quizz</h3>
					<p class="text-muted">Viens tester tes connaissances sur les dys !</p>
				</div>
			</div>
	   </div>
	</section>



    <footer>
      <div class="container">
        <p>&copy; 2017 Start Bootstrap. All Rights Reserved.</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">Privacy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms</a>
          </li>
          <li class="list-inline-item">
            <a href="#">FAQ</a>
          </li>
        </ul>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/new-age.min.js"></script>

  </body>

</html>
