<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Le club des dys - Prise en charge</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link href="css/new-age.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="index.html">Accueil</a>
            </li>
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="quoi.html">Qu'est ce que c'est ?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="qui.html">Qui est dys ?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="priseEnCharge.html">Prise en charge</a>
            </li>
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="astuces.html">Quelques astuces</a>
            </li>
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="liensUtiles.html">Liens utiles</a>
            </li>
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="quizz.html">Quizz</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>



    <section class="download text-center" id="download">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2 class="section-heading">Prise en charge</h2>
            <p>Du diagnostic au suivi, qui sont les professionnels concernés ?</p>
          </div>
        </div>
      </div>
    </section>

	<section class="contact bg-primary" id="contact">
      <div class="container">
        <h2>Diagnostic</h2>
      </div>
    </section>
	
    <section class="features" id="features">
      <div class="container">
        <div class="row">
			<div class="col-md-4">
				<img src="img/Parcours/enfant.PNG" alt="Photo d'un petit garçon assis"/>
			</div>
			<div class="col-md-8">
				<p>Théo a 8 ans, il est dyspraxique. <strong>Mais comment le sait-on ?</strong> </p>
				<p>Ses parents ont remarqué très tôt que Théo était 
				assez <strong>maladroit</strong>. Il a du mal à s'habiller, à faire des puzzles ... Sa maîtresse a aussi vu qu'il n'arrivait pas 
				bien à découper, coller, recopier ... Elle a donc averti les parents de Théo, qui l'ont emmené voir un médecin.</p>
				<p>Théo a ensuite dû passer un bilan pour <strong>mettre un nom sur les difficultés qu'il avait</strong>. Il a fait des exercices pour 
				tester la reconnaissance des objets, des couleurs et sa capacité à s'orienter. Les médecins ont ensuite évalué sa fatigue et 
				sa façon de faire : c'est le bilan <strong>ergothérapeutique</strong>.</p>
				<p>Le raisonnement mathématique et le language ont aussi été évalués dans le bilan <strong>orthophonique</strong>. Théo 
				a aussi vu une <strong>psychomotricienne</strong> qui lui a fait faire des exercices d'équilibre, d'habilité et de coordination.</p>
				<p>Enfin, Théo a fait un bilan <strong>orthoptique</strong> pour vérifier si différentes parties du cerveau étaient suffisament 
				bien reliées.</p>
				<p>Après tous ces tests, Théo et ses parents ont pu avoir une <strong>réponse</strong> précise de ce qu'il avait : il est dyspraxique.</p>
			</div>
        </div>
      </div>
    </section>

	<section class="contact bg-primary" id="contact">
      <div class="container">
        <h2>Et après ? </h2>
      </div>
    </section>
	
    <section class="features" id="features">
      <div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
			<h4>Assistante de Vie Scolaire (AVS)</h4>
			</div>
		</div>
        <div class="row">
			<div class="col-md-8 espace">
				<br/>
				<br/>
				<p>Beaucoup d'enfants avec des "troubles dys", comme Théo, vont toujours à l'école. Selon leurs difficultés, ils peuvent être
				accompagnés par un ou une Assistante de Vie Scolaire (ou AVS). L'AVS aide Théo à manipuler certains objets, à prendre 
				ses cours et à dialoguer avec les autres élèves. L'AVS peut l'<strong>aider à réaliser toutes les tâches qui lui sont difficiles
				 à cause de son handicap.</strong></p>
				<p>L'AVS peut également <strong>discuter avec les parents</strong> pour les informer des progrès de Théo.</p>
			</div>
			<div class="col-md-4">
				<img src="img/Parcours/ecole.png" alt="image d'une école primaire"/>
			</div>
        </div>
		
		
		<div class="row espace">
			<div class="col-sm-12 text-center">
			<br/>
			<br/>
			<h4>Orthophoniste</h4>
			</div>
		</div>
        <div class="row">
			<div class="col-md-4">
				<img src="img/Parcours/parler.png" alt="icône d'un bonhomme qui parle"/>
			</div>
			<div class="col-md-8 espace">
				<br/>
				<br/>
				<p>Après les cours, Théo doit aller chez un orthophoniste. C'est une personne qui travaille principalement avec des 
				enfants et qui les aide à corriger des problèmes de prononciation ou des retards. </p>
				<p>Pendant les séances, Théo travaille surtout sur la parole en faisant des jeux et des exercices ludiques.</p>
			</div>
        </div>
		
		
		<div class="row espace">
			<div class="col-sm-12 text-center">
			<br/>
			<br/>
			<h4>Psychomotricien</h4>
			</div>
		</div>
        <div class="row">
			<div class="col-md-8 espace">
				<br/>
				<br/>
				<p>Théo est assez maladroit, il a des problèmes de coordination. Pour progresser et assurer ses gestes, il va régulièrement 
				chez une psychomotricienne. Celle-ci utilise le jeu pour rééduquer, pour <strong>améliorer son équilibre</strong> et ses déplacements. 
				</p>
				<p>Elle lui apprend à <strong>s'orienter dans l'espace</strong> (se rappeler d'un trajet par exemple) <strong>et dans le temps</strong> (notion de semaine, de saison, etc.). 
				Théo apprend aussi à maîtriser son corps et à se relaxer. 
				C'est un moment qu'il apprécie parce qu'il a la possibilité de découvrir plein de nouveaux jeux et d'apprendre des choses en s'amusant.</p>
			</div>
			<div class="col-md-4">
				<img src="img/Parcours/puzzle.png" alt="icône présentant des pièces de puzzle s'imbriquant"/>
			</div>
        </div>
		
		
		<div class="row espace">
			<div class="col-sm-12 text-center">
			<br/>
			<br/>
			<h4>Orthoptiste</h4>
			</div>
		</div>
        <div class="row">
			<div class="col-md-4">
				<img src="img/Parcours/eye.png" alt="icône d'un oeil"/>
			</div>
			<div class="col-md-8 espace">
				<br/>
				<br/>
				<p>Régulièrement, Théo va aussi chez l'orthoptiste. L'orthoptiste est un médecin qui s'occupe des mouvements des 
				yeux. Il vérifie et corrige la façon dont Théo <strong>bouge les yeux</strong> pour lire un texte ou lorsqu'il regarde une image. 
				A l'aide d'exercices, Théo s'entraîne donc pour que ses yeux balayent plus facilement et que ça le fatigue moins.</p>
			</div>
        </div>
		
		
		<div class="row espace">
			<div class="col-sm-12 text-center">
			<br/>
			<br/>
			<h4>Psychologue</h4>
			</div>
		</div>
        <div class="row">
			<div class="col-md-8 espace">
				<br/>
				<br/>
				<p>Enfin, une dernière personne suit Théo pour son handicap : un psychologue. Avec lui, Théo peut <strong>discuter librement 
				</strong>de ce qu'il vit, de ce qu'il fait, des questions qu'il peut se poser. Le psychologue l'écoute et lui pose des questions 
				pour l'aider à s'ouvrir et à résoudre ses problèmes. </p>
			</div>
			<div class="col-md-4">
				<img src="img/Parcours/conversation.png" alt="icône présentant deux personnes qui discutent"/>
			</div>
        </div>
		
		
		
      </div>
	  
	  
	  
     
	  
    </section>

    

    <footer>
      <div class="container">
        <p>&copy; 2017 Start Bootstrap. All Rights Reserved.</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">Privacy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms</a>
          </li>
          <li class="list-inline-item">
            <a href="#">FAQ</a>
          </li>
        </ul>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/new-age.min.js"></script>

  </body>

</html>
