<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Le club des dys - Qui est DYS ?</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link href="css/new-age.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="index.html">Accueil</a>
            </li>
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="quoi.html">Qu'est ce que c'est ?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="qui.html">Qui est dys ?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="priseEnCharge.html">Prise en charge</a>
            </li>
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="astuces.html">Quelques astuces</a>
            </li>
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="liensUtiles.html">Liens utiles</a>
            </li>
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="quizz.html">Quizz</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    

    <section class="download text-center" id="download">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2 class="section-heading">Qui est dys ?</h2>
          </div>
        </div>
      </div>
    </section>

	<section class="contact bg-primary" id="contact">
      <div class="container">
        <h2>En chiffres</h2>
      </div>
    </section>
	
	<section class="chiffres" id="chiffres">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h4>Les "dys" sont de plus en plus présents ... </h4>
			</div>
		</div>
		<div class="row espace">
			<div class="col-sm-4">
				<img src="img\Chiffres\France.png" alt="Dessin de la France" />
				<h3>En France</h3>
				<p>4 millions de français <br/> 6% de la population</p> 
			</div>
			<div class="col-sm-4">
				<img src="img\Chiffres\Ecole.png" alt="Dessin d'une école" />
				<h3>A l'école</h3>
				<p>8 à 10 % des enfants scolarisés</p>
			</div>
			<div class="col-sm-4">
				<img src="img\Chiffres\Classe2.png" alt="Dessin d'un groupe d'élèves avec un professeur" />
				<h3>Dans la classe</h3>
				<p>2 à 3 enfants par classe</p>
			</div>
	    </div>
		</div>
	</section>
	
	<section class="contact bg-primary" id="contact">
      <div class="container">
        <h2>Quelques personnes célèbres</h2>
      </div>
    </section>

	
	<section class="chiffres">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<img src="img\celebrites\einstein.jpg" alt="portrait d'Albert Einstein">
					<h3>Albert Einstein</h3>
					<h5>Physicien</h5>
				</div>
				<div class="col-sm-4">
					<img src="img\celebrites\dujardin.jpg" alt="portrait de Jean Dujardin">
					<h3>Jean Dujardin</h3>
					<h5>Acteur</h5>
				</div>
				<div class="col-sm-4">
					<img src="img\celebrites\mika.jpg" alt="portrait de Mika">
					<h3>Mika</h3>
					<h5>Chanteur/Compositeur</h5>
				</div>
			</div>
			<br/>
			<br/>
			<br/>
			<div class="row">
				<div class="col-sm-4">
					<img src="img\celebrites\disney.jpg" alt="portrait de Walt Disney">
					<h3>Walt Disney</h3>
					<h5>Inventeur de Disney</h5>
				</div>
				<div class="col-sm-4">
					<img src="img\celebrites\radcliff.png" alt="portrait de Daniel Radcliff">
					<h3>Daniel Radcliff</h3>
					<h5>Acteur</h5>
				</div>
				<div class="col-sm-4">
					<img src="img\celebrites\knightley.jpg" alt="portrait de Keira Knightley">
					<h3>Keira Knightley</h3>
					<h5>Actrice</h5>
				</div>
			</div>
			<br/>
			<br/>
			<br/>
			<div class="row">
				<div class="col-sm-4">
					<img src="img\celebrites\mozart.jpg" alt="portrait de Wolfgang Amadeus Mozart">
					<h3>Wolfgang Amadeus Mozart</h3>
					<h5>Compositeur</h5>
				</div>
				<div class="col-sm-4">
					<img src="img\celebrites\newton.jpg" alt="portrait d'Isaac Newton">
					<h3>Isaac Newton</h3>
					<h5>Physicien</h5>
				</div>
				<div class="col-sm-4">
					<img src="img\celebrites\jobs.jpg" alt="portrait de Steve Jobs">
					<h3>Steve Jobs</h3>
					<h5>Inventeur d'Apple</h5>
				</div>
			</div>
		</div>
	</section>
	
    <footer>
      <div class="container">
        <p>&copy; 2017 Start Bootstrap. All Rights Reserved.</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">Privacy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms</a>
          </li>
          <li class="list-inline-item">
            <a href="#">FAQ</a>
          </li>
        </ul>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/new-age.min.js"></script>

  </body>

</html>
