<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

	<title>Le club des dys - Qu'est-ce ?</title>
	
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link href="css/new-age.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="index.html">Accueil</a>
            </li>
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="quoi.html">Qu'est ce que c'est ?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="qui.html">Qui est dys ?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="priseEnCharge.html">Prise en charge</a>
            </li>
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="astuces.html">Quelques astuces</a>
            </li>
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="liensUtiles.html">Liens utiles</a>
            </li>
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="quizz.html">Quizz</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

	<!--Titre de la page-->
    <section class="download text-center" id="download">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2 class="section-heading">Qu'est-ce que les Dys ?</h2>
          </div>
        </div>
      </div>
    </section>

	<!--Général-->
	<section class="contact bg-primary" id="contact">
      <div class="container">
        <h2>Définition générale</h2>
      </div>
    </section>
	
    <section class="features" id="features">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<p>Les troubles "dys" sont des problèmes qui bloquent certains enfants dans leur apprentissage : 
					à cause des dysfonctionnements de certaines parties du cerveau, ils ont besoin de plus de temps pour apprendre.</p>
					<p>En effet, le cerveau est divisé en plusieurs parties : l'une sert à la vision, l'autre à la parole, l'autre au toucher, etc... Si une de ces zones a un problème, alors la personne a un trouble 
					qui l'empêche de faire certaines choses. Par exemple, si on a un problème dans la zone qui s'occupe de la parole, on a des difficultés à parler correctement. C'est ce qui se passe quand on est 
					"dys", notre cerveau fonctionne un peu différemment de celui des autres.</p>

					<div class="focus">Mais attention ! </div> 
					<p>Cela ne veut pas dire que les enfants "dys" ne sont pas intelligents ! Ils ont juste besoin qu'on les aide plus que les autres pour apprendre à écrire ou à s'habiller par exemple. Il existe 
					plusieurs types de troubles "dys". Tous les enfants "dys" n'ont pas les mêmes diffultés ! Donc, par exemple, ce n'est pas parce que j'ai du mal à apprendre la lecture, que j'ai du mal à apprendre 
					à compter.</p>
					<p>Les troubles "dys" ne sont pas liés à un quelconque retard mental. Ils ne sont pas non plus liés à des troubles sensoriels comme la vue et l'ouïe.</p>
					<p>Quand apparaissent-ils ?</p>
					<p>Ils apparaissent en majorité <b>dès la naissance</b>. Mais il est possible d'avoir des troubles dys <b>après un accident neurologique</b>, c'est-à-dire un accident qui touche le cerveau.</p>
					<br/><p>On va voir ici différents troubles dys qui existent avec les difficultés que rencontrent les personnes Dys et ce qu'ils peuvent faire pour se faciliter la vie :</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					<button type="button" href="#dyspraxie" class="btn btn-outline-primary">Dyspraxie</button>
				</div>
				<div class="col-sm-2">
					<button type="button" href="#dysphasie" class="btn btn-outline-primary">Dysphasie</button>
				</div>
				<div class="col-sm-2">
					<button type="button" href="#dyslexie" class="btn btn-outline-primary">Dyslexie</button>
				</div>
				<div class="col-sm-2">
					<button type="button" href="#dysgraphie" class="btn btn-outline-primary">Dysgraphie</button>
				</div>
				
				<div class="col-sm-2">
					<button type="button" href="#dyscalculie" class="btn btn-outline-primary">Dyscalculie</button>
				</div>
				<div class="col-sm-2">
					<button type="button" href="#dysorthographie" class="btn btn-outline-primary">Dysorthographie</button>
				</div>
			</div>
		</div>
	</section>
	
	<div class="espace">
	</div>
	
	
	<!--Les différents types de DYS-->
	<section class="contact bg-primary" id="contact">
      <div class="container">
		<div class="row">
			<h2>Les types de troubles Dys</h2>
		</div>
      </div>
    </section>

<!--------------------------------------------------------->
	<section class="contact bg-primaryBis" id="contact">
      <div class="container">
        <h3><b>La dyspraxie : trouble moteur</b></h3>
      </div>
    </section>
	<!--Dyspraxie-->
	<section class="definition" id="dyspraxie">
		<div class="container">
		<!--Image et texte-->
		<div class="row">
			<div class="col-sm-5 text-center">
				<img class="img-responsive center-block" width="70%" src="img\dyspraxie.png" alt="Dessin d'un enfant que fait ses lacets" />
			</div>
			<div class="col-sm-7">
				<div class="row">
					<div class="focus">Avoir des troubles moteurs, c'est <b>avoir du mal à réaliser certains mouvements</b> qui devraient être simples.<br/>
						On parle alors de <b>dyspraxie</b>. C'est un trouble "dys" avec lequel on peut naître mais on ne peut pas devenir dyspraxique. Les <b>personnes dyspraxiques</b> sont souvent vues comme des personnes très maladroits car ils ne font leurs gestes correctement. On peu même avoir <b>l'impression qu'ils le font exprès</b> ! Par exemple, un enfant peut réussir à se servir un verre d'eau aujourd'hui et ne pas réussir à le refaire demain.
						<br/>Voici quelques difficultés qu'ils peuvent rencontrer, mais tous les dyspraxiques n'ont pas toutes ces difficultés ! Certains en on peu et d'autres en ont plus : ils sont tous différents. Ce qu'ils ont en commun, c'est la <b>lenteur dans leurs gestes</b> car, comme ils ne sont pas automatiques pour eux, ils doivent refléchir à chacun de leurs gestes, ce qui est très fatiguant. D'ailleurs, tous les dyspraxiques sont <b>également dysgraphiques</b>.
					</div>
				</div>
			</div>
		</div>
		<!--Difficultés et choses à faire-->
		<br/><br/>
		<div class="row">
			<div class="col-sm-7">
				<h3>Les difficultés :</h3>
				<p><img src="img\csq.png" alt="croix rouge" height="25" width="25"/> Se <b>cogner</b>, <b>tomber</b> et <b>casser</b> souvent des objets</p>
				<p><img src="img\csq.png" alt="croix rouge" height="25" width="25"/> <b>Manger proprement</b> car ce n'est pas facile pour eux d'utiliser des couverts</p>
				<p><img src="img\csq.png" alt="croix rouge" height="25" width="25"/> <b>S’habiller</b> (vêtement à l’envers, lacet, fermeture éclair, bouton,…)</p>
				<p><img src="img\csq.png" alt="croix rouge" height="25" width="25"/> <b>Colorier</b> : dépasser même en se concentrant</p>
				<p><img src="img\csq.png" alt="croix rouge" height="25" width="25"/> <b>Découper</b> en suivant une ligne </p>
				<p><img src="img\csq.png" alt="croix rouge" height="25" width="25"/> <b>Se perdre</b> dans les couloirs et dans les rue</p>
				<p><img src="img\csq.png" alt="croix rouge" height="25" width="25"/> <b>Envoyer un ballon</b> dans la bonne direction </p>
				<p><img src="img\csq.png" alt="croix rouge" height="25" width="25"/> <b>Nager</b> et <b>faire du vélo</b> sans roulettes</p>
				<p><img src="img\csq.png" alt="croix rouge" height="25" width="25"/> Faire des <b>puzzles</b> et des <b>jeux de constructions</b></p>
			</div>
			<div class="col-sm-5">
				<h3>Ce qu'il faut faire :</h3>
				<p><img src="img\solution.png" alt="tick vert" height="25" width="25"/> <b>Prendre son temps</b></p>
				<p><img src="img\solution.png" alt="tick vert" height="25" width="25"/> <b>Se faire aider</b> par une personne pour l'école</p>
			</div>
		</div>
	</div>
	</section>
	
<!--------------------------------------------------------->	
	<section class="contact bg-primaryBis" id="contact">
      <div class="container">
        <h3><b>La dysphasie : trouble de la communication</b></h3>
      </div>
    </section>
	<!--Dysphasie-->
	<section class="definition" id="dysphasie">
		<div class="container">
		<!--Image et texte-->
		<div class="row">
			<div class="col-sm-5 text-center">
				<img class="img-responsive center-block" width="70%" src="img\dysphasie.png" alt="Dessin de deux enfants qui discutent" />
			</div>
			<div class="col-sm-7">
				<div class="conteneur">
					<div class="desciptionTypes">
						<div class="focus">C'est un trouble de l'apprentissage du langage oral.<br/>
							Les dysphasiques ont donc du mal à apprendre à <b>parler</b> et à <b>comprendre</b> ce qu'on leur dit : ce n'est donc pas facile pour eux de discuter avec les autres, même s'il en ont envie.
							Ces enfants savent parler tardivement et ils <b>ne parlent pas très bien</b>.<br/>
							Du coup, comme à l'école, on apprend grâce à la parole, les enfants dysphasiques prennent du retard en classe.
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Difficultés et choses à faire-->
				<br/><br/>
		<div class="row">
			<div class="col-sm-6">
				<h3>Les difficultés :</h3>
				<img src="img\csq.png" alt="croix rouge" height="25" width="25"/> <b>Se faire comprendre</b> des autres<br/>
				<img src="img\csq.png" alt="croix rouge" height="25" width="25"/> Comprendre les <b>consignes</b><br/>
				<img src="img\csq.png" alt="croix rouge" height="25" width="25"/> Mettre les <b>mots dans le bon ordre</b> dans une phrase<br/>
				<img src="img\csq.png" alt="croix rouge" height="25" width="25"/> Apprendre de <b>nouveaux mots</b><br/>
				<img src="img\csq.png" alt="croix rouge" height="25" width="25"/> Raconter des <b>histoires</b><br/>
				<img src="img\csq.png" alt="croix rouge" height="25" width="25"/> Réciter une <b>poésie</b><br/>
			</div>
			<div class="col-sm-6">
				<h3>Ce qu'il faut faire :</h3>
				<img src="img\solution.png" alt="tick vert" height="25" width="25"/> <b>En parler</b> pour que les autres comprennent ce qu'il se passe<br/>
				<img src="img\solution.png" alt="tick vert" height="25" width="25"/> <b>Se faire aider</b><br/>
				<img src="img\solution.png" alt="tick vert" height="25" width="25"/> <b>S'entrainer</b><br/>
			</div>
		</div>
	</div>
	</section>
	
<!--------------------------------------------------------->
	<section class="contact bg-primaryBis" id="contact">
      <div class="container">
        <h3><b>Les troubles des apprentissages</b></h3>
      </div>
    </section>
	<!--Dyslexie-->
	<section class="definition" id="dyslexie">
		<div class="container">
			<h2>La dyslexie</h2>
			<!--Image et texte-->
			<div class="row">
				<div class="col-sm-5 text-center">
					<img class="img-responsive center-block" width="70%" src="img\dyslexie.png" alt="Dessin d'un stylo et d'un crayon de papier" />
				</div>
				<div class="col-sm-7">
					<div class="conteneur">
						<div class="desciptionTypes">
							<div class="focus">C'est un trouble de l'apprentissage du langage écrit, c'est-à-dire de la <b>lecture</b>, de l'<b>écriture</b> et de l'<b>orthographe</b>. Il exite deux sortes de dyslexie : la <b>dyslexie développementale</b> et la <b>dyslexie acquise</b>. 
							On est atteint de dyslexie développementale lorsqu'on est dyslexique depuis la naissance et qu'on grandit avec cela. Au contraire, il est possible de devenir dyslexique avec un accident dans le cerveau : dans ce cas la dyslexie est acquse.<br/>
							Un enfant dyslexique ne développe les automatismes dont on a besoin pour lire et écrire normalement, alors qu'il n'a <b>aucune difficulté à comprendre l'oral</b>. 
							Lorsqu'elle lit, une personne dyslexique est <b>facilement pertubée</b> par des bruits, et <b>se déconcentre rapidement</b>.<br/>
							De plus, pour lire, elle <b>du mal à se repérer sur une feuille</b>, c'est-à-dire à savoir par où commencer à lire et jusqu'où. Elle confond des lettres et des sons, que ce soit à l'écrit et à l'oral.
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Difficultés et choses à faire-->
			<br/><br/>
			<div class="row">
				<div class="col-sm-6">
					<h3>Les difficultés :</h3>
						<img src="img\csq.png" alt="croix rouge" height="25" width="25"/> <b>Lecture lente</b> et <b>non fluide</b>
					<br/><img src="img\csq.png" alt="croix rouge" height="25" width="25"/> <b>Confusion entre certaines lettres</b> comme le "p" et le "q"
					<br/><img src="img\csq.png" alt="croix rouge" height="25" width="25"/> <b>Confusion entre certains sons</b> comme "ta" et "da"
					<br/><img src="img\csq.png" alt="croix rouge" height="25" width="25"/> <b>Ecriture lente</b>
					<br/><img src="img\csq.png" alt="croix rouge" height="25" width="25"/> Beaucoup de <b>fautes d'orthographe</b>
					<br/><img src="img\csq.png" alt="croix rouge" height="25" width="25"/> Problèmes d'<b>organisation</b>
					<br/><img src="img\csq.png" alt="croix rouge" height="25" width="25"/> Difficultés à <b>se situer dans le temps</b>
				</div>
				<div class="col-sm-6">
					<h3>Ce qu'il faut faire :</h3>
					<img src="img\solution.png" alt="tick vert" height="25" width="25"/> <b>Prendre son temps</b>
					<br/><img src="img\solution.png" alt="tick vert" height="25" width="25"/> Utiliser le langage <b>oral</b>
					<br/><img src="img\solution.png" alt="tick vert" height="25" width="25"/> <b>S'entrainer à lire et à écrire</b>, des exemples de livres sont disponibles <a class="info" href="../template/astuces.html#pistes-lecture">ici</a>
					<br/><img src="img\solution.png" alt="tick vert" height="25" width="25"/> Utiliser des documents avec des <b>grosses lettres et bien aérés</b>
					<br/><img src="img\solution.png" alt="tick vert" height="25" width="25"/> Utiliser des <b>outils adaptés pour écrire</b> comme des guide-doigts ou des feuilles spécialisées <a class="info" href="../template/astuces.html#outils-physiques">Exemples ici</a>
					<br/><img src="img\solution.png" alt="tick vert" height="25" width="25"/> Utiliser un <b>ordinateur</b> pour taper les leçons et faire ses devoirs
					<br/><img src="img\solution.png" alt="tick vert" height="25" width="25"/> Utiliser une <b>police d'écriture facile à lire</b> comme <a class="info" href="../template/astuces.html#opendyslexic">OpenDyslexic</a>
					<br/><img src="img\solution.png" alt="tick vert" height="25" width="25"/> Demander à <b>quelqu'un d'écrire à notre place</b> si on lui dicte					
					</div>
			</div>
		</div>
	</section>
	
	<!--Dysgraphie-->
	<section class="definition" id="dysgraphie">
		<div class="container">
			<h2>La dysgraphie</h2>
			<!--Image et texte-->
			<div class="row">
				<div class="col-sm-5 text-center">
					<div class="conteneur">
						<div class="desciptionTypes">
							<img class="img-responsive center-block" width="70%" src="img\dysgraphie.png" alt="Dessin d'un enfant qui écrit"/>
						</div>
					</div>
				</div>
				<div class="col-sm-7">
					<div class="focus">La dysgraphie impacte l'<b>écriture</b> : les personnes dysgraphiques sont <b>très lentes lorsqu'elles dessinent et écrivent</b>, et elles <b>écrivent mal les lettres</b>. Mais attention, ce n'est pas parce qu'on écrit mal, qu'on a forcément des troubles de dysgraphie !
					Elles ont un <b>problème de précision dans leurs gestes</b> qui les empêche d'avoir une belle écriture. 
					<br/>L'écriture à la main demande bien trop de concentration à une personne : elle doit <b>se concentrer</b> à la fois sur ce qu'on lui dit ou ce qui est écrit au tableau, et sur la formation des lettres avec le crayon. En effet, <b>l'écriture n'est pas automatique</b> pour une personne dysgraphique, donc elle doit réfléchir à chaque lettre une par une, ce qui prend beaucoup de temps et qui est fatiguant !
					<br/>Il faut bien faire la différence entre les enfants qui apprennent à écrire et donc n'écrivent pas très bien, et les enfants dysgraphiques qui ne peuvent former les lettres correctement malgrès tous leurs efforts.
					<br/>A cause des difficultés qu'ils ont, les enfants atteints de dysgraphie sont <b>stressés à l'idée de devoir écrire</b> et parfois, ils refusent même d'écrire car c'est trop compliqué pour eux et ils peuvent avoir <b>peur du regard des autres</b>.
					</div>
				</div>
			</div>
			<!--Difficultés et choses à faire-->
			<br/><br/>
			<div class="row">
				<div class="col-sm-6">
					<h3>Les difficultés :</h3>
					     <img src="img\csq.png" alt="croix rouge" height="25" width="25"/> Avoir du mal à <b>tenir son crayon</b> et les autres fournitures comme les ciseaux, la règle ...
					<br/><img src="img\csq.png" alt="croix rouge" height="25" width="25"/> Avoir <b>du mal à reproduire les formes</b>
					<br/><img src="img\csq.png" alt="croix rouge" height="25" width="25"/> Avoir des <b>crampes au poignet</b> en écrivant
					<br/><img src="img\csq.png" alt="croix rouge" height="25" width="25"/> Leur <b>écriture est compliquée à lire</b>
					<br/><img src="img\csq.png" alt="croix rouge" height="25" width="25"/> Leurs <b>cahiers sont sales</b> et mal tenus
					<br/><img src="img\csq.png" alt="croix rouge" height="25" width="25"/> Ils <b>écrivent lentement</b>
				</div>
				<div class="col-sm-6">
					<h3>Ce qu'il faut faire :</h3>
					     <img src="img\solution.png" alt="tick vert" height="25" width="25"/> Il vaut mieux <b>utiliser un clavier pour écrire</b>
					<br/><img src="img\solution.png" alt="tick vert" height="25" width="25"/> <b>Utiliser l'oral</b> pour transmettre les connaissances, à l'école par exemple
					<br/><img src="img\solution.png" alt="tick vert" height="25" width="25"/> <b>S'entrainer</b> à écrire
					<br/><img src="img\solution.png" alt="tick vert" height="25" width="25"/> <b>Se faire aider</b> pour avoir un cahier bien propre
					<br/><img src="img\solution.png" alt="tick vert" height="25" width="25"/> Utiliser des <b>photocopies</b>
				</div>
			</div>
		</div>
	</section>
	
	<!--Dysorthograpie-->
	<section class="definition" id="dysorthographie">
		<div class="container">
			<h2>La dysorthographie</h2>
			<!--Image et texte-->
			<div class="row">
				<div class="col-sm-5 text-center">
					<img class="img-responsive center-block" width="70%" src="img\dysorthographie.png" alt="Dessin d'un enfant qui écrit"/>
				</div>
				<div class="col-sm-7">
					<div class="conteneur">
						<div class="desciptionTypes">
							<div class="focus">La dysorthographie est un trouble de l'<b>apprentissage des règles d'orthographe</b>. Comme pour la dyslexie, la dysorthographie peut être soit développementale, soit acquise.<br/>
							Un enfant dyslexique est forcément dysorthographique car c'est une conséquence de ce trouble.<br/>
							L'enfant a alors <b>du mal à faire correspondre des mots écrits à ce qu'il entend</b>. Il se trompe donc souvent dans les sons qu'il entend et les mots qu'il voit alors qu'il n'a pas forcément de problème de vue ou d'audition. Il n'a pourtant pas de difficulté ce qu'il entend.
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Difficultés et choses à faire-->
			<br/><br/>
			<div class="row">
				<div class="col-sm-6">
					<h3>Les difficultés :</h3>
					<img src="img\csq.png" alt="croix rouge" height="25" width="25"/> <b>Oublis</b> de lettres<br/>
					<img src="img\csq.png" alt="croix rouge" height="25" width="25"/> <b>Inversion</b> de syllabes<br/>
					<img src="img\csq.png" alt="croix rouge" height="25" width="25"/> <b>Phrases mal construites</b><br/>
					<img src="img\csq.png" alt="croix rouge" height="25" width="25"/> Ecriture en <b>phonétique</b>, c'est-à-dire sans tenir compte de l'orthographe des mots mais en les écrivant comme on les entend<br/>
				</div>
				<div class="col-sm-6">
					<h3>Ce qu'il faut faire :</h3>
					<img src="img\solution.png" alt="tick vert" height="25" width="25"/> Utiliser le <b>langage oral</b><br/>
					<img src="img\solution.png" alt="tick vert" height="25" width="25"/> <b>S'entrainer à retranscrire</b> ce qu'on entend<br/>
					<img src="img\solution.png" alt="tick vert" height="25" width="25"/> Utiliser un ordinateur avec un <b>correcteur d'orthographe</b>
				</div>
			</div>
		</div>
	</section>
	
	<!--Dyscalculie-->
	<section class="definition" id="dyscalculie">
		<div class="container">
			<h2>La dyscalculie</h2>
		<!--Image et texte-->
			<div class="row">
				<div class="col-sm-5 text-center">
					<div class="conteneur">
						<div class="desciptionTypes">
							<img class="img-responsive center-block" width="70%" src="img\dyscalculie.jpg" alt="Dessin d'un personnage entouré de chiffres et symboles mathématiques" />
						</div>
					</div>
				</div>
				<div class="col-sm-7">
					<div class="focus">La dyscalculie <b>trouble du langage qui concerne l'apprentissage des nombres et du calcul</b>. Une personne dyscalculique a <b>du mal à comprendre la relation entre les chiffres et les quantités</b>. Elle a <b>du mal à reconnaître les chiffres</b>, 
					<b>à les écrire</b> et donc à faire des opérations et apprendre les tables de calculs comme les tables de multiplication. Elle aussi des problèmes en géométrie, pour tracer des formes car cela nécessite de convertir des chiffres en longueurs.<br/>
					La dyscalculie entraîne aussi un <b>trouble au niveau du raisonnement logique</b>, même si les problèmes à résoudre sont simples.
					Il se peut qu'un autre trouble dys soit associé à la dyscalculie. Il faut donc faire attention au type de solution apporté à l'enfant pour ne pas qu'il soit plus gêné qu'aidé.
					</div>
				</div>
			</div>
			<!--Difficultés et choses à faire-->
			<br/><br/>
			<div class="row">
				<div class="col-sm-6">
					<h3>Les difficultés :</h3>
					<img src="img\csq.png" alt="croix rouge" height="25" width="25"/> <b>Lecture et écriture des nombres</b><br/>
					<img src="img\csq.png" alt="croix rouge" height="25" width="25"/> <b>Mesurer</b> les distances et s'orienter dans l'espace<br/>
					<img src="img\csq.png" alt="croix rouge" height="25" width="25"/> <b>Compter</b>, même sur ses doigts<br/>
					<img src="img\csq.png" alt="croix rouge" height="25" width="25"/> Comprendre les <b>problèmes mathématiques</b><br/>
					<img src="img\csq.png" alt="croix rouge" height="25" width="25"/> Confusions entre les <b>concepts mathématiques</b> (opérations, conditions ...)<br/>
					<img src="img\csq.png" alt="croix rouge" height="25" width="25"/> Différencier les <b>figures géométriques</b><br/>
					<img src="img\csq.png" alt="croix rouge" height="25" width="25"/> <b>Numéroter</b> des étapes (s'organiser)<br/>
					<img src="img\csq.png" alt="croix rouge" height="25" width="25"/> <b>Suivre des étapes</b> dans le bon ordre</b><br/>
				</div>
				<div class="col-sm-6">
					<h3>Ce qu'il faut faire :</h3>
					<img src="img\solution.png" alt="tick vert" height="25" width="25"/> Utiliser des <b>couleurs</b> pour différencier les éléments<br/>
					<img src="img\solution.png" alt="tick vert" height="25" width="25"/> Utiliser des outils tels qu'un <b>boulier</b> pour compter<br/>
					<img src="img\solution.png" alt="tick vert" height="25" width="25"/> <b>S'entrainer à compter</b>
				</div>
			</div>
		</div>
	</section>


    <footer>
      <div class="container">
        <p>&copy; 2017 Start Bootstrap. All Rights Reserved.</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">Privacy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms</a>
          </li>
          <li class="list-inline-item">
            <a href="#">FAQ</a>
          </li>
        </ul>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/new-age.min.js"></script>

  </body>

</html>
